{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="col-12">
            <div class="row g-3 align-items-center">
                <div class="col-3">
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card mb-3 mt-4 box-shadow">
                        <div class="card-header text-center mb-3">
                            <h4 class="my-0 font-weight-normal mb-3 mt-2">Востановление пароля</h4>
                        </div>
                        <div class="card-body">
                            <h2>Введите свой адрес электронной почты</h2>
                            {% csrf_token %}
                            <p>
                                <div class="mb-3 row">
                                    <label for="email" class="col-sm-2 col-form-label">Email address:</label>
                                    <div class="col-sm-10">

                                        <input type="text" class="form-control" name="email" autofocus="" autocapitalize="none" autocomplete="username" maxlength="254" required="" aria-invalid="true" id="email">
                                        <ul>
                                            {% if error_message %}
                                            <li class="mb">{{ error_message }}</li>
                                            {% endif %}
                                        </ul>

                                    </div>
                                </div>
                            </p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <button class="btn btn-outline-success me-md-2" type="submit">Восстановить пароль</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
            </div>
        </div>
     </form>
{% endblock %}